.debug table td {
	direction: ltr;
	text-align: left;
}

.debug table {
	direction: ltr;
}

.debug {
	direction: ltr;
	text-align: left;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 300px;
	overflow: auto;
	background: #fff;
	z-index: 9999;
}