

<a href="<?=baseUrl?>api/basics/?code=tt0000001">Basics Sample</a> <br />
<pre>
	<code>
{"id":"1","date":"0","tconst":"tt0000001","titleType":"short","primaryTitle":"Carmencita","originalTitle":"Carmencita","isAdult":"0","startYear":"1894","endYear":"\\N","runtimeMinutes":"1","genres":"Documentary,Short"}
	</code>
</pre>

<br />
<a href="<?=baseUrl?>api/crew/?code=tt0000001">Crew Sample</a> <br />
<a href="<?=baseUrl?>api/akas/?code=tt0000001">Akas Sample</a> <br />

<a href="<?=baseUrl?>api/ratings/?code=tt0000001">Ratings Sample</a> <br />

<pre>
<code>
{"id":"1","date":"0","tconst":"tt0000001","averageRating":"5.7","numVotes":"1882"}
</code>	
</pre>