
<div class="row">
  <div class="col-12">
<h1> Free IMDB REST API </h1>
  <a href="<?=baseUrl?>api">FREE API</a>


    <div class="row">
    <?foreach( $movies as $movie ) {?>
      <div class="col-4">
        <div class="card m-1">
          <div class="card-body">
            <h4><?=$movie->basic->primaryTitle?></h4>
            <hr />
            Imdb Code : <?=$movie->tconst?>
            <hr />
            Title Type : <?=$movie->basic->titleType?>
            <hr />
            <?=$movie->averageRating?> / <?=$movie->numVotes?>
            <hr />
            Year : <?=$movie->basic->startYear?>
            <hr />
            RunTime : <?=$movie->basic->runtimeMinutes?>
            <hr />
            Genres : <?=$movie->basic->genres?>
            <hr />
            isAdult : <?=$movie->basic->isAdult?> 


            <a href="<?=baseUrl?>api/ratings/?code=<?=$movie->tconst?>">ratings</a> / <a href="<?=baseUrl?>api/basics/?code=<?=$movie->tconst?>">basics</a>
          </div>
        </div>

      </div>

    <? } ?>
    </div>

  </div>
</div>