<h1> Free IMDB REST API </h1>

This api taken from : https://datasets.imdbws.com/

<br />
<br />

<div class="card">
  <div class="card-body">

<h2>Names </h2>
<a href="<?=baseUrl?>api/names/?code=nm0000001">Basics Sample</a> <br />
<pre>
<code>
<?=HOST?>/api/names/?code=nm0000001
</code>
</pre>
<h5> Json Output Sample </h5>
<pre>
	<code>
{"id":"1","date":"0","nconst":"nm0000001","primaryName":"Fred Astaire","birthYear":"1899","deathYear":"1987","primaryProfession":"soundtrack,actor,miscellaneous","knownForTitles":"tt0031983,tt0072308,tt0053137,tt0050419"}
	</code>
</pre>

  </div>
</div>
<br />
<div class="card">
  <div class="card-body">

<h2>Akas </h2>
<a href="<?=baseUrl?>api/akas/?code=tt0000001">Akas Sample</a> <br />
<pre>
<code>
<?=HOST?>/api/akas/?code=tt0000001
</code>
</pre>
<h5> Json Output Sample </h5>
<pre>
<code>
{"id":"9522811","date":"0","titleId":"tt0000001","ordering":"1","title":"\u041a\u0430\u0440\u043c\u0435\u043d\u0441\u0456\u0442\u0430","region":"UA","language":"\\N","types":"imdbDisplay","attributes":"\\N","isOriginalTitle":"0"}
</code>	
</pre>

  </div>
</div>
<br />
<div class="card">
  <div class="card-body">

<h2>Basics </h2>
<a href="<?=baseUrl?>api/basics/?code=tt0000001">Basics Sample</a> <br />
<pre>
<code>
<?=HOST?>/api/basics/?code=tt0000001
</code>
</pre>
<h5> Json Output Sample </h5>
<pre>
	<code>
{"id":"1","date":"0","tconst":"tt0000001","titleType":"short","primaryTitle":"Carmencita","originalTitle":"Carmencita","isAdult":"0","startYear":"1894","endYear":"\\N","runtimeMinutes":"1","genres":"Documentary,Short"}
	</code>
</pre>

  </div>
</div>


<br />

<div class="card">
  <div class="card-body">


<h2>Crew </h2>
<a href="<?=baseUrl?>api/crew/?code=tt0000001">Crew Sample</a> <br />
<pre>
<code>
<?=HOST?>/api/crew/?code=tt0000001
</code>
</pre>
<pre>
<code>
{"id":"1","date":"0","tconst":"tt0000001","directors":"nm0005690","writers":"\\N"}
</code>	
</pre>

  </div>
</div>

<br />


<div class="card">
  <div class="card-body">


<h2>Episodes </h2>
<a href="<?=baseUrl?>api/episodes/?code=tt0000001">Episodes Sample</a> <br />
<pre>
<code>
<?=HOST?>/api/episodes/?code=tt0000001
</code>
</pre>
<pre>
<code>

</code>	
</pre>

  </div>
</div>

<br />

<div class="card">
  <div class="card-body">


<h2>Ratings </h2>
<a href="<?=baseUrl?>api/ratings/?code=tt0000001">Ratings Sample</a> <br />
<pre>
<code>
<?=HOST?>/api/ratings/?code=tt0000001
</code>
</pre>
<h5> Json Output Sample </h5>
<pre>
<code>
{"id":"1","date":"0","tconst":"tt0000001","averageRating":"5.7","numVotes":"1882"}
</code>	
</pre>

	</div>
</div>
