<div class="row">
  <div class="col-12">
  <h1> <?=$movie->primaryTitle?> </h1>
    <h4>Basics : </h4>
    <ul>
    <?foreach( $movie->basic->columns as $c ) {?>
        <li><?=$c?> : <?=$movie->basic->$c?></li>
    <? } ?>
    </ul>   

    <h4>Ratings : </h4>
    <ul>
    <?foreach( $movie->rating->columns as $c ) {?>
        <li><?=$c?> : <?=$movie->rating->$c?></li>
    <? } ?>
    </ul>    

    <h4>Akas : </h4>
    <ul>
    <?
  foreach( $movie->akas as $aka ) {
    foreach( $aka->columns as $c ) {?>
        <li><?=$c?> : <?=$movie->aka->$c?></li>
    <? } 
  }
    ?>
    </ul>

  </div>
</div>
